includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	checkMissingIterableValueType: false
	reportUnmatchedIgnoredErrors: false
	excludes_analyse:
		- %rootDir%/temp/*

	ignoreErrors:
		- '#^Variable method call on#'
		- '#^Call to an undefined method PHPUnit_Framework_MockObject_MockObject::extract\(\)\.$#'
		- '#PHPUnit\\Framework\\MockObject\\MockObject given\.#'
